<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="bower_components/iron-input/iron-input.html">

<dom-module id="client-list">
  <template>
    <div class="col-xs-12">
      <iron-ajax
        auto
        url="http://192.168.0.204:3001/0/api/GetClientInfo"
        handle-as="json"
        params='{{searchParams}}'
        last-response="{{clientResponse}}"
      ></iron-ajax>

      <input class="form-control" is="iron-input" bind-value="{{searchTerm}}">

      <hr>

      <template is="dom-repeat" items="{{clientResponse}}">
        Name : <span>{{item.Name}}</span>
        <br>
        Account : <span>{{item.Account}}</span>
        <hr>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is : 'client-list',
      properties : {
        searchTerm : {
          type : String,
          value : 'SMITH'
        },
        searchParams : {
          type : String,
          computed : 'computeSearchParams(searchTerm)'
        }
      },
      computeSearchParams : function (searchTerm) {
        return { pstrSearchCmd : searchTerm };
      }
    });

  </script>

</dom-module>
